body {
  background-color: rgb(223, 202, 125);
}
h1,
p {
  text-align: center;
}
p {
  display: block;
}
footer {
  display: block;
  text-align: center;
}
footer a {
  margin: 0 10px;
  color: green;
}
.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px;
}
